*{
    margin: 0;
    padding: 0;

}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body div{
    display: flex;
    
}

#ecranJeu{
    display: flex;
    align-items: center;
    
}



.lesBoutons{
    height: 430px;
    padding: 15px 16px 15px 14px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    border-radius: 20px;
    background-color: #93b6ae;
    box-shadow: 2px 2px 2px black;
    

}

.pierre{
    background-image: url(./img/pierre.png);
}


.papier{
    background-image: url(./img/feuille.png);

}

.ciseau{
    background-image: url(./img/ciseaux.png) ;
}



.caseChoix{
    width: 90px;
    height: 90px;
   background-size: cover;
   border: solid 4px black ;
   border-radius: 50%;
   box-shadow: 2px 2px 2px black;
   background-color: rgb(154, 238, 199);

}
 .caseChoix:active{
    filter: grayscale(20%);
    background-color: #f3f3f3;
    box-shadow:  inset  2px 2px 2PX black;
 }



.affichage{
    width: 400px;
    height: 400px;
    background-size: cover;
    filter: blur(50px);
    

    
}
.clair {
    filter: blur(0px)  ;

} 
.noDisplay{
    display: none;
}
p{
    color: black;
    font-size: 3em;
}
 button{
    padding: 20px;
    font-size: 2em;
    box-shadow: 2px 2px 2px black;
 }
 h1{
    position: absolute;
    top: 20px;
    background-color: #93b6ae;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px black;
    font-size: 4em;


 }

 .robot{
    background-color: red;
    background-image: url(./img/robot.png);
    margin-top: 20px;

 }